<a href="https://colab.research.google.com/github/CameronKenworthyCode/NEWICC/blob/main/LOG_ANALYZER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Initialize Notebook

In [ ]:
import pandas as pd
import numpy as np

!pip install -U -q PyDrive
import os
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from google.colab import drive
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
gdrive = GoogleDrive(gauth)

local_download_path = os.path.expanduser('~/data')
try:
  os.makedirs(local_download_path)
except: pass

drive.mount('/content/drive/')

file_list = gdrive.ListFile(
    {'q': "'1fZ-p58kmyIkYnopyDITA0B8tW0me8FXh' in parents"}).GetList()

In [ ]:
# determine encoding of log dump
from chardet.universaldetector import UniversalDetector

detector = UniversalDetector()
for line in open('drive/My Drive/NEWICC/Dump_IncidentLog.csv', 'rb'):
  detector.feed(line)
  if detector.done:
    break
detector.close()

print(detector.result)

In [ ]:
log = pd.read_csv('drive/My Drive/NEWICC/Dump_IncidentLog.csv', encoding='cp1252')

In [ ]:
log['LogDate']

#Clean Dataframe

In [42]:
log

       IncidentLogID IncidentID  ... CatID SubCatID
0              54594       4123  ...   0.0      0.0
1              54595       4123  ...   0.0      0.0
2              54596       4123  ...   0.0      0.0
3              54597       4123  ...   0.0      0.0
4              54598       4123  ...   0.0      0.0
...              ...        ...  ...   ...      ...
343217        467267      22965  ...   NaN      NaN
343218        467268      23676  ...   NaN      NaN
343219        467269      22965  ...   NaN      NaN
343220        467272      23031  ...   NaN      NaN
343221        467273      23676  ...   NaN      NaN

[343222 rows x 9 columns]

In [40]:
from dateutil import parser

x = parser.parse(log['LogDate'][0])