<a href="https://colab.research.google.com/github/CameronKenworthyCode/NEWICC/blob/main/LOG_ANALYZER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Initialize Notebook

In [1]:
import pandas as pd
import numpy as np

!pip install -U -q PyDrive
import os
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from google.colab import drive
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
gdrive = GoogleDrive(gauth)

local_download_path = os.path.expanduser('~/data')
try:
  os.makedirs(local_download_path)
except: pass

drive.mount('/content/drive/')

file_list = gdrive.ListFile(
    {'q': "'1fZ-p58kmyIkYnopyDITA0B8tW0me8FXh' in parents"}).GetList()

Mounted at /content/drive/

In [ ]:
# determine encoding of log dump
from chardet.universaldetector import UniversalDetector

detector = UniversalDetector()
for line in open('drive/My Drive/NEWICC/Dump_IncidentLog.csv', 'rb'):
  detector.feed(line)
  if detector.done:
    break
detector.close()

print(detector.result)

In [2]:
log = pd.read_csv('drive/My Drive/NEWICC/Dump_IncidentLog.csv', encoding='cp1252')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
log['LogDate']

0         2011-01-04 10:43:18
1         2011-01-04 10:51:36
2         2011-01-04 11:01:23
3         2011-01-04 11:12:48
4         2011-01-04 11:23:48
                 ...
386024    2021-10-25 08:16:21
386025    2021-10-25 08:24:15
386026    2021-10-25 09:06:27
386027    2021-10-25 09:27:36
386028    2021-10-25 10:29:04
Name: LogDate, Length: 386029, dtype: object

#Clean Dataframe

In [5]:
log

       IncidentLogID IncidentID  ... CatID SubCatID
0              54594       4123  ...   0.0      0.0
1              54595       4123  ...   0.0      0.0
2              54596       4123  ...   0.0      0.0
3              54597       4123  ...   0.0      0.0
4              54598       4123  ...   0.0      0.0
...              ...        ...  ...   ...      ...
386024        510937      22960  ...   NaN      NaN
386025        510938      22960  ...   NaN      NaN
386026        510942      22960  ...   NaN      NaN
386027        510953      24838  ...   NaN      NaN
386028        510988      24833  ...   NaN      NaN

[386029 rows x 9 columns]

In [6]:
from dateutil import parser

x = parser.parse(log['LogDate'][0])

In [14]:
x.date()

datetime.date(2011, 1, 4)

In [22]:
log['LogFrom'].value_counts()[:20]

IC         37933
JJ          9025
AR DO       6474
CR          6420
HL          5079
ICT         4397
JF          4118
VR          4071
IC          3451
JS          3426
AR 62       3078
AR 61       2936
IC-T        2684
DO          2638
RECON 1     2508
NC 61       2420
TA          2412
NC 62       2392
AR 63       2325
HS          2250
Name: LogFrom, dtype: int64

In [24]:
log['LogTo'].value_counts()[:20]

CR       20405
HL       18144
JF       15395
VR       14257
TA       14087
JS       11328
JJ       10189
CH        9921
LOG       9645
EG        7894
TG        7330
KTG       6971
TL        6396
HML       6175
HS        6073
PF        6049
CK        5872
LK        5615
Email     5414
IC        5268
Name: LogTo, dtype: int64